{% extends "home.html" %}

{% block navbar %}
  <a class="nav-link" aria-current="page" style="color:white;" href="/"><h3 class="col-md-3 text-center">Search By City</h3></a>
  <a class="nav-link active " aria-current="page" style="color:#c0fefc;" href="/searchByPosition"><h3 class="col-md-3 text-center">Search By Position</h3></a>
{% endblock %}

{% block content %}
    <center class="row">
    <form method="post" class="col-md-6 col-md-offset-3">
      <div class="input-group">
          <input type="text" class="form-control" name="lat" placeholder="Enter latitude" />
          <span class="input-group-addon">  </span>
          <input type="text" class="form-control" name="lon" placeholder="Enter longitude" />
        <div class="input-group-btn">
          <button class="btn btn-primary" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>
  </center>
{% endblock %}